body{
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: dimgrey;
}

.game {
    position: relative;
    display: block;
    margin: 0 auto;
}


.loginPanel{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    background: white;
    width: 500px;
    height: 300px;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 15px;
    input{
        margin: 10px;
        text-align: center;
        font-weight: bold;
    }

    .worldsList{
        margin: 0;
        font-weight: bold;
        color: red;
    }
}

.chatBox{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 100%;
    left: 1%;
    width: 97%;
    height: 300px;
    background: #2c2901;
    opacity: .8;

    .chatBox__window {
        margin-top: 5px;
        position: absolute;
        background: grey;
        width: 90%;
        height: 250px;
        overflow-y: scroll;
        overflow-x: hidden;
        word-break: break-all;
    }

    .chatBox__input {
        width: 200px;
        height: 20px;
        align-self: flex-end;
        margin-bottom: 5px;
        text-align: center;
    }

    .message {
        font-weight: bold;
        font-size: 22px;
        color: rgb(88, 255, 130);
        opacity: 1;
        margin: 2px;
    }

    .message_disconnect {
        font-weight: bold;
        font-size: 22px;
        color: red;
        opacity: 1;
        margin: 2px;
    }

    .message_connection{
        font-weight: bold;
        font-size: 22px;
        color: blue;
        opacity: 1;
        margin: 2px;
    }
}

@media screen and (max-width:552px){
    .loginPanel{
        width: 300px;
        height: 325px;
    }
    .chatBox{
        display: none;
    }

    div.currentCoordsBox{
        width: 100%;
    }
}

#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

.gameMain {
    position: absolute;
}

.currentCoordsBox{
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: row;
    top: 0;
    left: 1%;
    width: 10%;
    height: 30px;
    background: darkcyan;
    opacity: .9;

    .currentCordsBox__coords{
        font-weight: bold;
        color: cornsilk;
        text-align: center;
        width: 100%;
    }

    .x_player:after{
        content: ':';
    }
}

.version{
    font-weight: bold;
    position: absolute;
    bottom: 0;
}