body{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.loginPanel{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    background: white;
    width: 500px;
    height: 300px;
    transform: translate(-50%,-50%);
    input{
        margin: 10px;
        text-align: center;
        font-weight: bold;
    }
}

.chatBox{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 100%;
    left: 1%;
    transform: translateY(-105%);
    width: 500px;
    height: 300px;
    background: rgb(44, 41, 1);
    opacity: 0.8;

    .chatBox__window {
        margin-top: 5px;
        position: absolute;
        background: grey;
        width: 90%;
        height: 250px;
        overflow-y: scroll;
        overflow-x: hidden;
        word-break: break-all;
    }

    .chatBox__input {
        width: 70%;
        height: 20px;
        align-self: flex-end;
        margin-bottom: 5px;
        text-align: center;
    }

    .message {
        font-weight: bold;
        font-size: 20px;
        color: rgb(0, 15, 230);
        opacity: 1;
    }
}